
extends layout

block content

	div#container
		div(id="main" role="main" class="hellobox")
			h1.tituloH1 Hello NodeJs
			h1.tituloH2 by DSG

		br
		nav(style="text-align: center;")
			ul
				li.fila-iconos
					img(src="/images/nodejs.png" style="width: 100px;")
				li.fila-iconos
					img(src="/images/npm.png" style="width: 100px;")
				li.fila-iconos
					img(src="/images/grunt.png" style="width: 100px;")
				li.fila-iconos
					img(src="/images/jade.jpg" style="width: 100px;")
				li.fila-iconos
					img(src="/images/bootstrap.png" style="width: 100px;")
				li.fila-iconos
					img(src="/images/mongodb.png" style="width: 100px;")
				li.fila-iconos
					img(src="/images/git.png" style="width: 100px;")
				li.fila-iconos
					img(src="/images/github.png" style="width: 100px;")























	